* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background: #222327;
  color: #ededed;
  height: 100vh;
}

.box {
  background: rgb(25, 141, 25);
  padding: 20px;
  margin: 10px;
}
