body {
  background-color: rgb(48, 65, 116);
  color: #fff;
  padding: 1rem;
  margin: 0 auto;
  max-width: 1040px;
}

.first-container {
  display: grid;
  grid-template-columns: 50px 50px;
  grid-template-rows: 50px 50px;
  grid-auto-rows: 50px;
}

.second-container {
  display: grid;
  grid-template-rows: 100px 100px 100px;
  grid-template-columns: 100px 100px 100px;
}

.item {
  background-color: orange;
  border: 1px solid black;
  text-align: center;
}

.first-row {
  background-color: pink;
}

.last-column {
  background-color: lightblue;
}

.text {
  font-size: 1.1rem;
  font-family: sans-serif;
  letter-spacing: 0.2px;
  line-height: 1.6;
}

.spacing {
  padding-top: 1rem;
}

.third-container {
  display: inline-grid;
  grid-template: 80px 80px 80px 80px 80px / 80px 80px 80px 80px 80px;
  background-color: lightblue;
  grid-template-areas:
    'living-room living-room living-room living-room living-room'
    'living-room living-room living-room living-room living-room'
    'bedroom bedroom bathroom kitchen kitchen'
    'bedroom bedroom bathroom kitchen kitchen'
    'closet closet . . .';
}

.room {
  color: #000;
  border: 1px solid;
  font-size: 100%;
  text-align: center;
}

#living-room {
  grid-area: living-room;
}

#kitchen {
  grid-area: kitchen;
}

#bedroom {
  grid-area: bedroom;
}

#bathroom {
  grid-area: bathroom;
}

#closet {
  grid-area: closet;
}

.resize-container {
  resize: both;
  overflow: auto;
  display: grid;
  gap: 4px;
  padding: 4px;
  border: 1px solid grey;
  background-color: skyblue;
  grid-template-rows: 150px 150px;
  grid-template-columns: 150px 150px 150px 150px 150px;
}

.grid-item {
  background-color: #444;
  text-align: center;
  color: #ddd;
  font-family: sans-serif;
  font-size: 1.5rem;
  padding: 12px;
}
